* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Heebo", sans-serif;
}

section {
  padding: 3em;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.landing {
  background-color: rgb(148, 172, 179);
}

.landing2 {
  background-color: rgb(82, 103, 109);
}

.landing3 {
  background-color: rgb(56, 75, 80);
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: black;
  width: 0%;
}

.quote {
  font-size: 1.5em;
  width: 30%;
  margin-top: 10%;
  position: absolute;
}

.quote2 {
  font-size: 1.5em;
  width: auto;
  margin-top: 30%;
  position: absolute;
}

.cursive {
  font-style: italic;
}

.sticky {
  background: white !important;
  color: black;
}

.big-text {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -30%);
  font-size: 4rem;
  font-family: "Lobster", cursive;
  color: white;
}

/* INTRO */

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro button {
  outline: none;
  border: none;
  cursor: pointer;
  background: white;
  color: black;
  font-family: "Lobster", cursive;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 40px;
}

.intro-button {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
  width: 100%;
}

.intro-text h1 {
  text-align: center;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
